*, *::before, *::after {
  box-sizing: border-box;
  border: solid 1px;
}

:root {
  --primary-background-color: black;
  --secondary-background-color: black;
  
  --primary-text-color: black;
  --secondary-text-color: black;

  --primary-accent-color: black;
  --secondary-accent-color: black;

  --primary-button-color: black;
  --secondary-button-color: black;
}

body {
  min-height: 100dvh;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: rgb(245, 245, 245);
}

div#root {
  height: 100%;
  width: 100%;
}

.container {
  width: min(100%, 960px);
  margin-inline: auto;
  padding-inline: 1rem;
}

.flow > * + * {
  margin: 0 5px 0;
}

button[aria-pressed="true"] {
  background-color: red;
  color: white;
}

.tuner-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.harmony-display {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.displayed-interval {
  position: absolute;
  left: 50%;
  transform: translateX(calc(var(--pos) * 30%)) translateX(-50%);
  font-size: 0.5rem;
  width: 0.8rem;
  text-align: center;
}

.panel {
  display: flex;
  flex-direction: row;
}

.controls > button {
  width: 6rem;
  height: 2.5rem;
}

.anchor {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.anchor > input {
  text-align: center;
}

.interval {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.1rem;
  height: 3rem;
  padding: 0.1rem;
  margin: 0;
  box-sizing: border-box;
}

.interval input {
  width: 100%;
  height: 100%;
  font-size: 0.5rem;
}